$backgroundHeader: url("../img/m-h-night.jpg");
$backgroundBody: #21232e;
$backgroundHeaderCard: #3b3f50;
$colorHeaderText: #ffffff;
$colorUnderline: #ff4e33;
$colorButton: #e3ac00;
$colorBackgrounLinear1: #da9f08;
$colorBackgrounLinear2: #97344d;
$fontHeader: 'Source Sans Pro', sans-serif;
$fontParagraph: 'Fresca', sans-serif;
$fontSizeCardText: 15px;
$marginTopSpan: 0;